node_modules/
.next/
out/
.turbo/
.swc/
.vercel/



npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage/
dist/

.firebase/
firebase-debug.log
firestore-debug.log
storage-debug.log

functions/node_modules/
functions/lib/
functions/dist/

.DS_Store
Thumbs.db

.idea/
.vscode/*

*.service-account.json
